[Unit]
Description=EasyTrain Application

[Service]
ExecStart= /usr/bin/java -jar /home/ubuntu/app/easytrain/application/target/application-0.0.1-SNAPSHOT.jar

[Install]
WantedBy=multi-user.target